<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Xiwshou</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>


<my-app></my-app>

<app-root></app-root>




<!--<img [src]="userImageUrl"/>-->
<!--<button (click)="onSave()">保存</button>-->
<!--<input [value]="cu" (input)="cu=$event.target.valueOf()">-->

<!--<script type="text/javascript" src="./test/app.component.js"></script>-->

</body>
</html>
